<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>IndexServlet</servlet-name>
        <servlet-class>Servlets.IndexServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NovedadesServlet</servlet-name>
        <servlet-class>Servlets.NovedadesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HardenyWestbrookNoticiaServlet</servlet-name>
        <servlet-class>Servlets.HardenyWestbrookNoticiaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LillardNoticiaServlet</servlet-name>
        <servlet-class>Servlets.LillardNoticiaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SilverNoticiaServlet</servlet-name>
        <servlet-class>Servlets.SilverNoticiaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReglamentoServlet</servlet-name>
        <servlet-class>Servlets.ReglamentoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarseServlet</servlet-name>
        <servlet-class>Servlets.RegistrarseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BienvenidoServlet</servlet-name>
        <servlet-class>Servlets.BienvenidoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TieneQueIniciarSesionServlet</servlet-name>
        <servlet-class>Servlets.TieneQueIniciarSesionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CalendarioServlet</servlet-name>
        <servlet-class>Servlets.CalendarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CalendarioNoviembreServlet</servlet-name>
        <servlet-class>Servlets.CalendarioNoviembreServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CalendarioDiciembreServlet</servlet-name>
        <servlet-class>Servlets.CalendarioDiciembreServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CalendarioEneroServlet</servlet-name>
        <servlet-class>Servlets.CalendarioEneroServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CalendarioFebreroServlet</servlet-name>
        <servlet-class>Servlets.CalendarioFebreroServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CalendarioMarzoServlet</servlet-name>
        <servlet-class>Servlets.CalendarioMarzoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CalendarioAbrilServlet</servlet-name>
        <servlet-class>Servlets.CalendarioAbrilServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PosicionesServlet</servlet-name>
        <servlet-class>Servlets.PosicionesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistroCompletoServlet</servlet-name>
        <servlet-class>Servlets.RegistroCompletoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ErrorAlIniciarSesionServlet</servlet-name>
        <servlet-class>Servlets.ErrorAlIniciarSesionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CerrarSesionServlet</servlet-name>
        <servlet-class>Servlets.CerrarSesionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerificarInicioSesionServlet</servlet-name>
        <servlet-class>Servlets.VerificarInicioSesionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerificarRegistroServlet</servlet-name>
        <servlet-class>Servlets.VerificarRegistroServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ArmaTuEquipoServlet</servlet-name>
        <servlet-class>Servlets.ArmaTuEquipoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuardarEquipoServlet</servlet-name>
        <servlet-class>Servlets.GuardarEquipoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EquipoRegistradoServlet</servlet-name>
        <servlet-class>Servlets.EquipoRegistradoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IndexServlet</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NovedadesServlet</servlet-name>
        <url-pattern>/novedades</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HardenyWestbrookNoticiaServlet</servlet-name>
        <url-pattern>/harden-y-westbrook-se-preparan-para-luchar-por-el-anillo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LillardNoticiaServlet</servlet-name>
        <url-pattern>/lillard-no-piensa-en-dejar-portland</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SilverNoticiaServlet</servlet-name>
        <url-pattern>/nba-propone-formas-para-frenar-el-tanking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReglamentoServlet</servlet-name>
        <url-pattern>/reglamento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarseServlet</servlet-name>
        <url-pattern>/registrarse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BienvenidoServlet</servlet-name>
        <url-pattern>/bienvenido</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TieneQueIniciarSesionServlet</servlet-name>
        <url-pattern>/no-inicio-sesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CalendarioServlet</servlet-name>
        <url-pattern>/calendario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CalendarioNoviembreServlet</servlet-name>
        <url-pattern>/calendario-noviembre</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CalendarioDiciembreServlet</servlet-name>
        <url-pattern>/calendario-diciembre</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CalendarioEneroServlet</servlet-name>
        <url-pattern>/calendario-enero</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CalendarioFebreroServlet</servlet-name>
        <url-pattern>/calendario-febrero</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CalendarioMarzoServlet</servlet-name>
        <url-pattern>/calendario-marzo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CalendarioAbrilServlet</servlet-name>
        <url-pattern>/calendario-abril</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PosicionesServlet</servlet-name>
        <url-pattern>/posiciones</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistroCompletoServlet</servlet-name>
        <url-pattern>/registrocompleto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ErrorAlIniciarSesionServlet</servlet-name>
        <url-pattern>/erroraliniciarsesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CerrarSesionServlet</servlet-name>
        <url-pattern>/cerrarsesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerificarInicioSesionServlet</servlet-name>
        <url-pattern>/verificariniciosesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerificarRegistroServlet</servlet-name>
        <url-pattern>/verificarregistro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ArmaTuEquipoServlet</servlet-name>
        <url-pattern>/armatuequipo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuardarEquipoServlet</servlet-name>
        <url-pattern>/guardar-equipo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EquipoRegistradoServlet</servlet-name>
        <url-pattern>/equiporegistrado</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
